@model USDA.ARS.GRIN.GGTools.ViewModelLayer.EmailTemplateViewModel

<div class="modal fade" id="modal-email" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-search"></i>
                    @Model.EventValue #@Model.Entity.ID
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="section-search-criteria" class="modal-body">
                @using (Html.BeginForm("SendEmail", "WebOrder", FormMethod.Post, new { id = "frmEditEmail" }))
                {
                    @Html.HiddenFor(x => x.EventAction)
                    @Html.HiddenFor(x => x.EventValue)
                    @Html.HiddenFor(x => x.Entity.ID)
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Note (Optional)</label>
                                @Html.TextAreaFor(x => x.EventNote, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>From</label>
                                @Html.TextBoxFor(x => x.ActionEmailFrom, new { @class = "form-control", @readonly="readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>To</label>
                                @Html.TextBoxFor(x => x.ActionEmailTo, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>BCC</label>
                                @Html.TextBoxFor(x => x.ActionEmailBCC, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Subject</label>
                                @Html.TextBoxFor(x => x.ActionEmailSubject, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Subject</label>
                                @Html.TextAreaFor(x => x.ActionEmailBody, new { @class = "form-control", @rows = "25" })
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnSendEmail" type="button" class="btn btn-default" data-ggtools-action="@Model.EventAction" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>
