@model USDA.ARS.GRIN.GGTools.ViewModelLayer.CooperatorViewModel
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Cooperator (@Model.EventValue)</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <button id="btnEditCooperatorSync" type="button" data-ggtools-action="sync" data-ggtools-value="cooperator" class="btn btn-default btn-block float-right">Copy >></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Status</label>
                    <br />
                    @if (Model.Entity.StatusCode == "ACTIVE")
                    {
                        <span class="badge bg-green">
                            @Model.Entity.StatusCode
                        </span>
                    }
                    else
                    {
                        <span class="badge bg-red">
                            @Model.Entity.StatusCode
                        </span>
                    }
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Salutation</label>
                    @Html.DropDownListFor(x => x.Entity.Salutation, Model.Salutations, "Select value", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>First Name</label>
                    @Html.TextBoxFor(x => x.Entity.FirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Last Name</label>
                    @Html.TextBoxFor(x => x.Entity.LastName, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-12">
                <label>Job Title</label>
                @Html.TextBoxFor(x => x.Entity.JobTitle, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <label>Organization</label>
                @Html.TextBoxFor(x => x.Entity.Organization, new { @class = "form-control" })
                <!--<div class="input-group">
            <span class="input-group-btn">-->
                @*@Html.TextBoxFor(x => x.Entity.OrganizationAbbrev, new { @class = "form-control", @style = "width:80px;" })*@
                <!--<button type="button" data-toggle="modal" data-target="#modal-organization-lookup" class="btn btn-default btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>-->
            </div>
            <div class="col-md-2">
                <label>Abbrev</label>
                @Html.TextBoxFor(x => x.Entity.OrganizationAbbrev, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Site</label>
                    @Html.DropDownListFor(x => x.Entity.SiteID, Model.Sites, "Select site", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <label>Category</label>
                @Html.DropDownListFor(x => x.Entity.CategoryCode, Model.Categories, "Select value", new { @class = "form-control" })
            </div>
        </div>

    </div>
</div>
