@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.CitationViewModelBase

    <div id="section-extended-search-fields-body" style="display: none;">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-horizontal">
                    <label>Created By</label>
                    @Html.DropDownListFor(x => x.SearchEntity.CreatedByCooperatorID, Model.Cooperators, "All Cooperators", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-horizontal">
                    <label>Created Date</label>
                    @Html.TextBoxFor(x => x.SearchEntity.CreatedDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-horizontal">
                    <label>Modified By</label>
                    @Html.DropDownListFor(x => x.SearchEntity.ModifiedByCooperatorID, Model.Cooperators, "All Cooperators", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-horizontal">
                    <label>Modified Date</label>
                    @Html.TextBoxFor(x => x.SearchEntity.ModifiedDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-horizontal">
                    <label>Owned By</label>
                    @Html.DropDownListFor(x => x.SearchEntity.OwnedByCooperatorID, Model.OwnedByCooperators, "All Cooperators", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-horizontal">
                    <label>Owned Date</label>
                    @Html.TextBoxFor(x => x.SearchEntity.OwnedDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group form-horizontal">
                    <label>ID</label>
                    @Html.TextBoxFor(x => x.SearchEntity.ID, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-11">
                <div class="form-group form-horizontal">
                    <label>Note</label>
                    @Html.TextBoxFor(x => x.SearchEntity.Note, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group form-horizontal">
                    <label>Created By</label>
                    @Html.DropDownListFor(x => x.SearchEntity.CreatedByCooperatorID, Model.Cooperators, "Any Cooperator", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-horizontal">
                    <label>Reference Title</label>
                    @Html.TextBoxFor(x => x.SearchEntity.ReferenceTitle, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-horizontal">
                    <label>Volume or Page</label>
                    @Html.TextBoxFor(x => x.SearchEntity.Reference, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-horizontal">
                    <label>DOI Reference</label>
                    @Html.TextBoxFor(x => x.SearchEntity.DOIReference, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-horizontal">
                    <label>Accepted Name</label>
                    @Html.DropDownListFor(x => x.SearchEntity.IsAcceptedName, Model.YesNoOptions, "Either", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>

