@model USDA.ARS.GRIN.GGTools.ViewModelLayer.WebOrderRequestViewModel
@using (Html.BeginForm("SendEmail", "WebOrder", FormMethod.Post, new { id = "frmEditEmail" }))
{
    @Html.HiddenFor(x => x.NewActionCode)
    @Html.HiddenFor(x => x.EventValue)
    @Html.HiddenFor(x => x.Entity.ID)
    @Html.HiddenFor(x => x.ActionEmailFrom)
    @Html.HiddenFor(x => x.IsEmailRequested)
    @Html.HiddenFor(x => x.IsBCCRequested)

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Note (For USDA use only)</label>
                @Html.TextAreaFor(x => x.EventNote, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div id="section-email-edit">
        @*<div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>From</label>
                        @Html.TextBoxFor(x => x.ActionEmailFrom, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>*@
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>To</label>
                    @Html.TextBoxFor(x => x.ActionEmailTo, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div id="section-action-email-bcc" class="row" style="display:none;">
            <div class="col-md-12">
                <div class="form-group">
                    <label>BCC</label>
                    @Html.TextBoxFor(x => x.ActionEmailBCC, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Subject</label>
                    @Html.TextBoxFor(x => x.ActionEmailSubject, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Body</label>
                    @Html.TextAreaFor(x => x.ActionEmailBody, new { @class = "form-control", @rows = "10" })
                    @Html.HiddenFor(x => x.ActionEmailBodyOriginal)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" value="Send BCC to myself" readonly="readonly" />
                        <div class="input-group-append">
                            <span class="input-group-text" style="background-color:white;">
                                @Html.CheckBoxFor(x => x.IsBCCRequested, new { @id = "cbxIsBCCRequested" })
                                &nbsp;
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" value="Send email to requestor" readonly="readonly" />
                        <div class="input-group-append">
                            <span class="input-group-text" style="background-color:white;">
                                @Html.CheckBoxFor(x => x.IsEmailRequested, new { @id = "cbxIsEmailRequested" })
                                &nbsp;
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
