@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.CommonNameLanguageViewModel
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Common Name Languages (@Model.DataCollection.Count)</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <input type="hidden" id="hfBatchEditLink" value="@Url.Action("EditBatch","CommonNameLanguage", new { @entityId = Model.Entity.ID })" />
        <div id="section-search-results" class="data-list">
            <table id="data_table_taxonomy_common_name_language" class="table table-striped ggtools">
                <thead>
                    <tr>
                        <th width="5%">ID</th>
                        <th>Name</th>
                        <th>Simplified Name</th>
                        <th>Transcription</th>
                        <th>Country</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model.DataCollection)
                    {
                        <tr>
                            <td>
                                @result.ID
                            </td>
                            <td>@result.LanguageName</td>
                            <td>@result.LanguageSimplifiedName</td>
                            <td>
                                @result.LanguageTranscription
                            </td>
                            <td>
                                @result.CountryDescription
                            </td>
                            <td style="text-align:right;">
                                <a href="@Url.Action("Edit", "CommonNameLanguage", new { entityId = result.ID })" class="btn btn-default btn-sm pull-right row-edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Taxonomy/CommonNameLanguage/Modals/_EditBatch.cshtml")
<script type="text/javascript">
    function BatchEdit() {
        $("#modal-taxonomy-common-name-language-edit-batch").modal("show");
    }
</script>