@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.FamilyMapViewModel
<div id="section-extended-search-fields" class="card card-success card-outline collapsed-card">
    <div class="card-header">
        <h3 class="card-title"><i class="icon fas fa-search"></i> Extended Fields</h3>
        <div id="btnShowHideExtendedFields" class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i id="btnShowHideExtendedFieldsIcon" class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div id="section-extended-search-fields-body" class="card-body p-3" style="display: none;">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-horizontal">
                    <label>Created By</label>
                    @Html.DropDownListFor(x => x.SearchEntity.CreatedByCooperatorID, Model.Cooperators, "All Cooperators", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-horizontal">
                    <label>Created Date</label>
                    @Html.TextBoxFor(x => x.SearchEntity.CreatedDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-horizontal">
                    <label>Modified By</label>
                    @Html.DropDownListFor(x => x.SearchEntity.ModifiedByCooperatorID, Model.Cooperators, "All Cooperators", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-horizontal">
                    <label>Modified Date</label>
                    @Html.TextBoxFor(x => x.SearchEntity.ModifiedDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group form-horizontal">
                    <label>ID</label>
                    @Html.TextBoxFor(x => x.SearchEntity.ID, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-11">
                <div class="form-group form-horizontal">
                    <label>Note</label>
                    @Html.TextBoxFor(x => x.SearchEntity.Note, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div id="section-alternate-name" class="form-group form-horizontal">
                    <label>Alternate Name</label>
                    @Html.TextBoxFor(x => x.SearchEntity.AlternateName, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-horizontal">
                    <label>Authority</label>
                    @Html.TextBoxFor(x => x.SearchEntity.Authority, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>
     
  