@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.ClassificationViewModel
<table id="data_table_taxonomy_classification" class="table table-striped ggtools-table" style=" width:100%;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Item</th>
            <th>Key</th>
            <th>Order Name</th>
            <th style="text-align:center;">Families</th>
            <th>Created</th>
            <th>Created By</th>
            <th>Last Modified</th>
            <th>Modified By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DataCollection != null)
        {
            foreach (var result in Model.DataCollection)
            {
                <tr>
                    <td>
                        @result.ID
                    </td>
                    <td>@result.SysFolderItemMapID</td>
                    <td>@result.EntityKey</td>
                    <td>
                        @result.OrderName
                    </td>
                    <td style="text-align:center;">
                        <a href="@Url.Action("Index","FamilyMap", new { @orderId = result.ID, @rank = "FAMILY" })">[@result.TotalFamilies]</a>
                    </td>
                    <td>
                        @result.CreatedDate.ToShortDateString()
                    </td>
                    <td>
                        @result.CreatedByCooperatorName
                    </td>
                    <td>
                        @if (result.ModifiedDate > DateTime.MinValue)
                        {
                            @result.ModifiedDate.ToShortDateString()
                        }
                    </td>
                    <td>
                        @result.ModifiedByCooperatorName
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Classification", new { entityId = result.ID })" class="btn btn-default btn-sm float-right row-edit">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        InitDataTableFolderFormat("data_table_taxonomy_classification");
    });
</script>