@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.SpeciesViewModel
@using (Html.BeginForm("GetBatchEditor", "Species", FormMethod.Post, new { id = "frmGetBatchEditor" }))
{
    @Html.HiddenFor(x => x.ItemIDList)
}
<table id="data_table_taxonomy_species" class="table table-striped ggtools-table" style="width:100%;">
    <thead>
        <tr>

            <th width="5%">ID</th>
            <th>Assembled Name</th>
            <th>Synonym</th>
            <th>Accepted</th>
            <th>Protologue</th>
            <th>URL</th>
            <th>Authority</th>
            <th>Verified</th>
            <th>By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DataCollectionImport.Count() > 0)
        {
            foreach (var result in Model.DataCollectionImport)
            {
                <tr>
                    <td>
                        @result.ID
                    </td>

                    <td>@Html.Raw(result.AssembledName)</td>
                    <td><span class="badge badge-info">@result.SynonymDescription</span></td>
                    <td>@Html.Raw(Model.FormatBoolean(result.IsAcceptedName))</td>
                    <td>
                        @Html.Raw(result.Protologue)
                    </td>
                    <td>
                        @Html.Raw(result.ProtologueVirtualPath)
                    </td>
                    <td>
                        @result.SpeciesAuthority
                    </td>
                    <td>
                        @if (result.NameVerifiedDate > DateTime.MinValue)
                        {
                            @result.NameVerifiedDate.ToString("yyyy-MM-dd")
                        }
                    </td>
                    <td>
                        @result.VerifiedByCooperatorName
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Species", new { entityId = result.ID })" class="btn btn-default btn-sm float-right row-edit">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
