@model USDA.ARS.GRIN.GGTools.ViewModelLayer.SiteAdminViewModelBase
<div id="section-controls" class="card card-primary">
    <div class="card-header">
        <div class="btn-group">
            <a href="@Url.Action("Add","Cooperator")" class="btn btn-default"><i class="fa fa-plus"></i> New</a>
        </div>
    </div>
    <div class="card-body">
        <div id="section-search-criteria" class="search-criteria">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group form-horizontal">
                        <label>Created</label>
                        @Html.DropDownListFor(x => x.SearchEntity.CreatedTimeFrame, Model.TimeFrameOptions, "Anytime", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group form-horizontal">
                        <label>Last Modified</label>
                        @Html.DropDownListFor(x => x.SearchEntity.ModifiedTimeFrame, Model.TimeFrameOptions, "Anytime", new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group form-horizontal">
                        <label>Status</label>
                        @Html.DropDownListFor(x => x.SearchEntity.StatusCode, Model.Statuses, "All statuses", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-horizontal">
                        <label>Cooperator First Name</label>
                        @Html.TextBoxFor(x => x.SearchEntity.FirstName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-horizontal">
                        <label>Cooperator Last Name</label>
                        @Html.TextBoxFor(x => x.SearchEntity.LastName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-horizontal">
                        <label>Cooperator Email</label>
                        @Html.TextBoxFor(x => x.SearchEntity.EmailAddress, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-horizontal">
                        <label>Site</label>
                        @Html.DropDownListFor(x => x.SearchEntity.SiteID, Model.Sites, "All sites", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button id="btnReset" type="button" class="btn btn-default">Reset</button>
        <div class="btn-group float-right">
            <button id="btnSubmitSearch" type="submit" class="btn btn-default">Search</button>
        </div>
    </div>
</div>


