@model  USDA.ARS.GRIN.GGTools.ViewModelLayer.SiteViewModel
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Sites (@Model.DataCollection.Count())</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.box-header -->
    <div id="section-search-results" class="card-body">
        <table id="data-table-cooperators" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Short Name</th>
                    <th>Long Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Primary URL</th>
                    <th>Secondary URL</th>
                    <th>Note</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model.DataCollection)
                {
                <tr>
                    <td>
                        @result.ID
                    </td>
                    <td>
                        @result.ShortName
                    </td>
                    <td>
                        @result.LongName
                    </td>
                    <td>
                        @result.City
                    </td>
                    <td>
                        @result.State
                    </td>
                    <td>
                        @result.PrimaryURL
                    </td>
                    <td>@result.SecondaryURL</td>
                    <td>@result.Note</td>
                    <td>
                        <a href="@Url.Action("Edit", "Site", new { entityId = result.ID })" class="btn btn-default btn-flat btn-sm pull-right row-edit">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>