@model USDA.ARS.GRIN.GGTools.ViewModelLayer.SiteViewModel
<table id="data-table-cooperators" class="table table-striped">
    <thead>
        <tr>
            <th width="5%"></th>
            <th>ID</th>
            <th>Status</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Organization</th>
            <th>Site</th>
            <th>Short Name</th>
            <th>User Name</th>
            <th>Enabled</th>
            <th>Password Expires</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DataCollectionSiteCooperators != null)
        {
            if (Model.DataCollectionSiteCooperators.Count() > 0)
            {
                foreach (var result in Model.DataCollectionSiteCooperators)
                {
                    <tr>
                        <td>
                            @result.ID
                        </td>
                        <td>
                            @result.ID
                        </td>
                        <td>
                            @if (result.StatusCode == "ACTIVE")
                            {
                                <span class="badge bg-green">
                                    @result.StatusCode
                                </span>
                            }
                            else
                            {
                                if (result.StatusCode == "INACTIVE")
                                {
                                    <span class="badge bg-red">
                                        @result.StatusCode
                                    </span>
                                }
                                else
                                {
                                    if (result.StatusCode == "PENDING")
                                    {
                                        <span class="badge bg-yellow">
                                            @result.StatusCode
                                        </span>
                                    }
                                }
                            }
                        </td>
                        <td>@Html.Raw(result.FirstName)</td>
                        <td>@Html.Raw(result.LastName)</td>
                        <td>@result.Organization</td>
                        <td>@result.SiteName</td>
                        <td>@result.SiteShortName</td>
                        <td>@result.SysUserName</td>
                        <td style="text-align:center;">
                            @if (result.SysUserIsEnabled == "Y")
                            {
                                <span class="badge bg-green">
                                    YES
                                </span>
                            }
                            else
                            {
                                <span class="badge bg-red">
                                    NO
                                </span>
                            }
                        </td>
                        <td>
                            @if (result.SysUserPasswordExpirationDate > DateTime.MinValue)
                            {
                                @result.SysUserPasswordExpirationDate.ToShortDateString()
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("Get", "Cooperator", new { entityId = result.ID })" class="btn btn-default btn-flat btn-sm pull-right row-edit">
                                <i class="fa fa-edit"></i> View
                            </a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>



