@model USDA.ARS.GRIN.GGTools.ViewModelLayer.AppUserItemFolderViewModel

<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">Folders (@Model.DataCollection.Count)</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div id="section-search-results">
            <table id="data_table_app_user_item_folder" class="table table-striped folder-table" style="width:100%;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>
                            <i class="fa fa-star"></i>
                        </th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Created</th>
                        <th>By</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var folder in Model.DataCollection)
                    {
                        <tr>
                            <td>
                                @folder.ID
                            </td>
                            <td class="mailbox-star">
                                @if (folder.IsFavorite == "Y")
                                {
                                    <a href="#"><i class="fa fa-star text-yellow"></i></a>
                                }
                            </td>
                            <td>
                                @folder.FolderName
                            </td>
                            <td>@folder.FolderType</td>
                            <td>@folder.Description</td>
                            <td>@folder.CreatedDate.ToShortDateString()</td>
                            <td>@folder.CreatedByCooperatorName</td>
                            @*<td>
                                @if (folder.ModifiedDate > DateTime.MinValue)
                                {
                                    @folder.ModifiedDate.ToShortDateString()
                                }
                            </td>
                            <td>@folder.ModifiedByCooperatorName</td>*@
                            @*<td style="text-align:center;">
                                <span class="badge bg-gray" style="font-size:11pt;">
                                    @folder.TotalItems
                                </span>
                            </td>*@
                            <td style="text-align:right;">
                                <a href="@Url.Action("Edit", "AppUserItemFolder", new { entityId = folder.ID })" class="btn btn-default btn-sm pull-right row-edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



