@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.CWRTraitViewModel

<table id="data_table_taxonomy_cwr_trait" class="table table-striped" style=" width:100%;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Item</th>
            <th>Key</th>
            <th>CWR Map Name</th>
            <th>Trait Class</th>
            <th>Breeding Type</th>
            <th>Citation</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model.DataCollection)
        {
        <tr>
            <td>@result.ID</td>
            <td>  </td>
            <td>    </td>
            <td>
                <a href="@Url.Action("Edit", "CWRMap", new { entityId = result.CWRMapID })">
                    @result.AssembledName
                </a>
            </td>
            <td>@result.TraitClassTitle</td>
            <td>@result.BreedingTypeTitle</td>
            <td>@result.CitationText</td>
            <td>
                <a href="@Url.Action("Edit", "CWRTrait", new { entityId = result.ID, sysFolderId = Model.SearchEntity.FolderID })" class="btn btn-default btn-sm float-right row-edit">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div id="section-batch-edit-modal">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        InitDataTableFolderFormat("data_table_taxonomy_cwr_trait");
    });

     function EditBatch() {
         var selectedIdList = GetSelectedEntityIDs("data_table_taxonomy_cwr_trait");
        var link = '@Url.Action("RenderBatchEditModal","CWRTrait", new { entityIdList = "SELECTED_ID_LIST" })';
        link = link.replace("SELECTED_ID_LIST", selectedIdList);
        var formData = new FormData();

        //DEBUG
        /*alert("ID LIST " + selectedIdList); */

        formData.append("idList", selectedIdList);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-batch-edit-modal").html(response);
                $("#modal-cwr-trait-batch-edit").modal("show");
            }
        });
    }
</script>

