@model USDA.ARS.GRIN.GGTools.GOBS.ViewModelLayer.GOBSViewModel
    <table id="data_table_datasets" class="table table-striped ggtools">
        <thead>
            <tr>
                <th>ID</th>
                <th>Method</th>
                <th>Type</th>
                <th>Name</th>
                <th>URL</th>
                <th>Valid From</th>
                <th>Owner</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dataset in Model.DataCollectionDatasets)
            {
                <tr>
                    <td>@dataset.dataset_id</td>
                    <td><a href="#">@dataset.method</a></td>
                    <td><a href="#">@dataset.type</a></td>
                    <td>@dataset.name</td>
                    <td><a href="@dataset.link">@dataset.link</a></td>
                    <td>@dataset.valid_from.ToShortDateString()</td>
                    <td>@dataset.controller_name</td>
                    <td style="text-align:right;">
                        @if (dataset.authorized == 1)
                        {
                            <a href="" data-toggle="modal" data-target="#modal-permission-grant" class="btn btn-default btn-sm pull-right row-edit">
                                <i class="fa fa-users-cog"></i>
                            </a>
                            <a href="@Url.Action("EditDataset", "GOBS", new { datasetId = dataset.dataset_id })" class="btn btn-default btn-sm pull-right row-edit">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="" class="btn btn-default btn-sm pull-right row-edit">
                                <i class="fa fa-plus"></i>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("EditDataset", "GOBS", new { datasetId = dataset.dataset_id })" class="btn btn-default btn-sm pull-right row-edit">
                                <i class="fa fa-eye"></i>
                            </a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>