@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.SynonymMapViewModelBase

<div class="card card-default card-outline collapsed-card">
    <div class="card-header">
        <h3 class="card-title">Extended Fields</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-3" style="display: none;">
        <div class="row">
            <div class="col-sm-1">
                <div class="form-group form-horizontal">
                    <label>ID</label>
                    @Html.TextBoxFor(x => x.SearchEntity.ID, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-horizontal">
                    <label>Created Date</label>
                    @Html.TextBoxFor(x => x.SearchEntity.CreatedDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-horizontal">
                    <label>Modified By</label>
                    @Html.DropDownListFor(x => x.SearchEntity.ModifiedByCooperatorID, Model.Cooperators, "All Cooperators", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-horizontal">
                    <label>Modified Date</label>
                    @Html.TextBoxFor(x => x.SearchEntity.ModifiedDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group form-horizontal">
                    <label>Note</label>
                    @Html.TextBoxFor(x => x.SearchEntity.Note, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

