@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.SpeciesViewModel
<br />
<table id="data-table-search-results-species-a" class="table table-striped ggtools">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Accepted</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DataCollection.Count() > 0)
        {
            foreach (var result in Model.DataCollection)
            {
                <tr>
                    <td>
                        @result.ID
                    </td>
                    <td><span class="label label-default">@result.ID</span></td>
                    <td>@Html.Raw(result.AssembledName)</td>
                    <td>@Html.Raw(Model.FormatBoolean(result.IsAcceptedName))</td>
                    <td>
                        @if (Model.IsMultiSelect != "Y")
                        {
                            <button id="btnAuthor1" value="@result.Name" class="btn btn-default btn-sm proto" onclick="SelectSpecies(@result.ID, this.value);return false;">Select</button>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">
                    <div class="callout callout-info" style="vertical-align:middle; margin-top:5px;">
                        Your search returned no matches.
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        InitDataTableLookupFormat("data-table-search-results-species-a");
    });
</script>