@model USDA.ARS.GRIN.GGTools.ViewModelLayer.ErrorLogViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}

<div id="section-search-results" class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Accessions (@Model.DataCollection.Count)</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div id="section-search-results">
            <div id="section-search-results">
                <table id="data-table-sys-app-error" class="table table-striped ggtools-table table-responsive" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>ID</th>
                            <th>Source</th>
                            <td>Application</td>
                            <th>Code</th>
                            <th>Error Message</th>
                            <th>ErrorDetail</th>
                            <th>ErrorDetail2</th>
                            <th>ErrorDetail3</th>
                            <th>ErrorDetail4</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var result in Model.DataCollection)
                        {
                            <tr>
                                <td>
                                    @result.CreateDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss")
                                </td>
                                <td>@result.ID</td>
                                <td>@result.Source</td>
                                <td>@result.Application</td>
                                <td>@result.Code</td>
                                <td>@result.ErrorMessage</td>
                                <td>@result.ErrorDetail</td>
                                <td>@result.ErrorDetail2</td>
                                <td>@result.ErrorDetail3</td>
                                <td>@result.ErrorDetail4</td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>


