@{ 
    string eventAction = @ViewContext.RouteData.Values["controller"].ToString(); 
    string eventValue = @ViewContext.RouteData.Values["action"].ToString();
}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>

    @if ((eventAction != "Home") && (eventAction != "Folder"))
    {
        if ((eventAction == "GeographyMap") && (eventValue == "Index"))
        {
            <li class="nav-item dropdown">
                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">New</a>
                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="@Url.Action("Add", eventAction)" class="dropdown-item">Single</a>
                    </li>
                    <li><a href="@Url.Action("AddBatch", eventAction)" class="dropdown-item">Batch</a></li>
                </ul>
            </li>
        }
        else
        {
            if ((eventAction == "CWRMap") && (eventValue == "Index"))
            {
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">New</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="@Url.Action("Add", eventAction)" class="dropdown-item">Single</a>
                        </li>
                        <li><a href="@Url.Action("AddBatch", eventAction)" class="dropdown-item">Batch</a></li>
                    </ul>
                </li>
            }
            else
            {
                if ((eventAction == "Taxonomy") && (eventValue == "Index"))
                { }
                else
                {
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="@Url.Action("Add", eventAction)" class="nav-link">New</a>
                    </li>
                }
            }
        }

        @*if ((eventValue == "Edit") || (eventValue == "List") || (eventValue == "Search"))
        {
            if (eventAction != "Taxonomy")
            {
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" id="btnOpenFolderModal" class="nav-link">Add to Folder</a>
                </li>
            }
        }*@
    }
</ul>
