@model USDA.ARS.GRIN.GGTools.ViewModelLayer.OrderRequestViewModel
<div id="section-order-request-list" class="scrollable-table-section">
    <h5>Order Requests</h5>
    <table id="data-table-order-requests" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>
                    Type
                </th>
                <th>Local Number</th>
                <th>Requestor</th>
                <th>Ship To</th>
                <th>Ordered Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderRequest in Model.DataCollection)
            {

                <tr>
                    <td>@orderRequest.ID</td>
                    <td>@orderRequest.OrderTypeDescription</td>
                    <td>
                        @orderRequest.LocalNumber
                    </td>
                    <td>@orderRequest.RequestorCooperatorName</td>
                    <td>@orderRequest.ShipToCooperatorName</td>
                    <td>
                        @orderRequest.OrderedDate.ToShortDateString()
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "OrderRequest", new { entityId = orderRequest.ID })" class="btn btn-default btn-sm pull-right">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        InitDataTable("data-table-order-requests");
    });
</script>

