@using System.Data;
@using USDA.ARS.GRIN.GGTools.DataLayer;
@model USDA.ARS.GRIN.GGTools.ViewModelLayer.ImportViewModel

@if (Model.DataCollectionDataTable.Rows.Count > 0)
{
    string columnStyleMatchFoundIndicator = "";
    string speciesDetailLink = "";
    
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">
                <i class="far fas fa-table nav-icon"></i>
                Imported @Model.DataCollectionDataTable.Rows.Count Rows from file: <strong>@ViewBag.ImportFileName</strong>
            </h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <table id="data_table_import" class="table table-bordered" style="width:100%;">
                <thead>
                    <tr>
                        @foreach (DataColumn col in Model.DataCollectionDataTable.Columns)
                        {
                            <th>
                                @col.ColumnName
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow dr in Model.DataCollectionDataTable.Rows)
                    {
                        
                    <tr>
                        @foreach (DataColumn rowCol in Model.DataCollectionDataTable.Columns)
                        {
                            speciesDetailLink = dr[rowCol.ColumnName].ToString();
                            if ((rowCol.ColumnName == "MATCH_GENUS") || (rowCol.ColumnName == "MATCH_SPECIES"))
                            {
                                if ((dr[rowCol.ColumnName].ToString() == "YES") || (dr[rowCol.ColumnName].ToString() == "Y"))
                                {
                                    columnStyleMatchFoundIndicator = "text-align:center;background-color:green;color:white;";
                                    speciesDetailLink = dr[rowCol.ColumnName].ToString();
                                }
                                else
                                {
                                    if ((dr[rowCol.ColumnName].ToString() == "NO") || (dr[rowCol.ColumnName].ToString() == "N"))
                                    {
                                        columnStyleMatchFoundIndicator = "text-align:center;background-color:red;color:white;";
                                        speciesDetailLink = "<a id=species-selector href=# data-ggtools-genus='" + dr["TAXONOMY_GENUS"].ToString() + "' data-ggtools-species='" + dr["TAXONOMY_SPECIES"].ToString() + "' class='species-name-selector' style='color:white;'>" + dr[rowCol.ColumnName].ToString() + "</a>";
                                    }
                                    else
                                    {
                                        columnStyleMatchFoundIndicator = "text-align:center;background-color:transparent;color:white;";
                                    }
                                }
                            }
                            else
                            {
                                columnStyleMatchFoundIndicator = "";
                            }
                            <td style="@columnStyleMatchFoundIndicator">
                                @Html.Raw(speciesDetailLink)
                            </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}