@model USDA.ARS.GRIN.GGTools.ViewModelLayer.SysUserViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdminLTE3Login.cshtml";
}

<div class="login-box" style="width:425px;">
    <div class="card card-outline card-default">
        <div class="card-header text-center">
            <a href="" class="h1"><b>Curator Tool</b></a>
            <h4>Self-Service Password Reset</h4>
            <h6><strong>Database:</strong> @AppInfo.GetDatabase()</h6>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("RequestPasswordReset", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                if (!String.IsNullOrEmpty(Model.UserMessage))
                {
                    <div id="section-user-message" class="alert alert-danger">
                        @Html.Raw(Model.UserMessage)
                    </div>
                }

                <p class="login-box-msg" style="text-align:justify">Please enter your GRIN-Global Curator Tool user name.<br /><br />You will receive an email containing a link that will expire within 24 hours. Follow this link to reset your password.</p>
                <div class="input-group mb-3">
                    @Html.TextBoxFor(x => x.Entity.UserName, new { @id = "txtUserName", @placeholder = "User name", @class = "form-control" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button id="btnSubmitUserName" type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fa fa-envelope"></i>
                            Email Me a Password Recovery Link
                        </button>
                    </div>

                </div>
            }
            <p class="mt-3 mb-1">
                <a href="@Url.Action("Index","Login")" id="btnCancel" class="btn btn-default btn-block btn-flat">
                    Cancel
                </a>
            </p>
        </div>
        <div class="card-footer">
            Version @AppInfo.GetVersion()
            @*<button class="btn btn-default btn-sm float-right" data-toggle="modal" data-target="#modal-release-notes">Release Notes</button>*@
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#txtUserName').on('input', function (e) {
        if ($("#section-user-message").html().length > 0) {
            $("#section-user-message").hide();
        }
    });

    $(function () {
        $('input.alpha[$id=txtUserName]').keyup(function () {
            if (!this.value.match(/[^a-zA-Z0-9 ]/g)) {
                alert("INVALID INPUT");
            }
        });
    });
</script>