@model USDA.ARS.GRIN.GGTools.ViewModelLayer.SysUserViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdminLTE3Login.cshtml";
}

<div class="login-box" style="width:450px;">
    <div class="card card-outline card-default">
        <div class="card-header text-center">
            <a href="" class="h1"><b>Curator Tool</b></a>
            <h4>Self-Service Password Reset</h4>
            <h6><strong>Database:</strong> @AppInfo.GetDatabase()</h6>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.PasswordResetToken)
                @Html.Partial("~/Views/Shared/_ValidationMessages.cshtml")
                <div class="alert alert-info">
                    <h5><i class="icon fas fa-info"></i> Your new password must:</h5>
                    <ul>
                        <li>be at least 12 characters long.</li>
                        <li>be no longer than 255 characters.</li>
                        <li>contain at least one digit.</li>
                        <li>contain at least one lowercase letter.</li>
                        <li>contain at least one uppercase letter.</li>
                        <li>contain at least one special character.</li>
                    </ul>
                </div>
                <div id="section-login-fields">
                    <div class="form-group has-feedback">
                        <label>New Password</label>
                        @Html.TextBoxFor(x => x.Entity.Password, new { @class = "form-control", @type = "password", @autocomplete = "off" })
                    </div>
                    <div class="form-group has-feedback">
                        <label>Re-Enter New Password</label>
                        @Html.TextBoxFor(x => x.Entity.PasswordConfirm, new { @class = "form-control", @type = "password", @autocomplete = "off" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button id="btnSubmit" type="submit" class="btn btn-default btn-block btn-flat">
                            <i class="fa fa-envelope"></i>
                            Save New Password
                        </button>
                    </div>
                </div>

                @*<div class="row" style="margin-top:10px;">
                <div class="col-md-12">
                    <a href="@Url.Action("Index","Login")" id="btnCancel" class="btn btn-danger btn-block btn-flat">
                        <i class="fa fa-fw fa-mail-reply"></i>
                        Return to Login Page
                    </a>
                </div>
            </div>*@
            }
        </div>
    </div>
</div>



