@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.EconomicUseViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = null;
}

@{
    string eventAction = @ViewContext.RouteData.Values["controller"].ToString();
    string eventValue = @ViewContext.RouteData.Values["action"].ToString();
}

<!DOCTYPE html>
<html lang="en">
@Html.Partial("~/Views/Shared/_Head.cshtml")
<body class="hold-transition layout-top-nav">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand-md navbar-light text-sm">
            <div class="container" style="max-width:1500px;">
                <a href="@Url.Action("Index","Home")" class="navbar-brand">
                    <img src="~/dist/img/gringlobal-logo.jfif" alt="GRIN-Global Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">GGTools</span>
                </a>
                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    @{Html.RenderAction("GetMenu", "Menu", new { @eventAction = eventAction, @eventValue = eventValue });}
                </div>

                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                            <span class="dropdown-item dropdown-header">@AppInfo.GetAuthenticatedUser().FullName</span>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-clock mr-2"></i> Logged In
                                <span class="float-right text-muted text-sm"> </span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("Logout","Login")" class="dropdown-item dropdown-footer bg-danger">Log Out</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                            <i class="fas fa-expand-arrows-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container" style="max-width:1500px;">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">
                                <!-- BEGIN PAGE TITLE -->
                                @{string controllerName = ViewContext.RouteData.Values["controller"].ToString(); }
                                @{string actionName = ViewContext.RouteData.Values["action"].ToString(); }
                                @actionName @controllerName

                                @if (Model.Entity.ID > 0)
                                {
                                    <span>[@Model.Entity.ID] : @Model.Entity.AssembledName</span>
                                }
                                <!-- END PAGE TITLE -->
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            @Html.Partial("~/Views/Taxonomy/Shared/_Breadcrumbs.cshtml")
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container" style="max-width:1500px;">
                    <div id="section-folder-confirmation"></div>
                    @Html.Partial("~/Views/Taxonomy/Shared/_RevisionHistory.cshtml")
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Summary</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        @using (Html.BeginForm("Edit", "EconomicUse", FormMethod.Post, new { id = "frmEditEconomicUse" }))
                        {
                            <div class="card-body">
                                @Html.Partial("~/Views/Shared/_ValidationMessages.cshtml")
                                @Html.HiddenFor(x => x.PageTitle)
                                @Html.HiddenFor(x => x.EventAction)
                                @Html.HiddenFor(x => x.EventValue)
                                @Html.HiddenFor(x => x.TableName)
                                @Html.HiddenFor(x => x.TableCode)
                                @Html.HiddenFor(x => x.Entity.ID)
                                @Html.HiddenFor(x => x.Entity.CitationID)

                                <!--
                                =====================================================
                                BEGIN REF. FOLDER LOGIC
                                =====================================================
                                -->
                                @if (Model.AppUserItemFolderID > 0)
                                {
                                    Html.RenderAction("RenderRelatedFoldersWidget", "AppUserItemFolder", new { idNumber = Model.Entity.ID });
                                }
                                <!--
                                =====================================================
                                BEGIN REF. FOLDER LOGIC
                                =====================================================
                                -->

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Species</label>
                                            <div class="input-group">
                                                <span id="placeholder-SpeciesName" style="background-color: #ecf0f5; border: 1px solid #ced4da; width: 100%; position: relative; -ms-flex: 1 1 auto; flex: 1 1 auto; width: 1%; min-width: 0; margin-bottom: 0; padding: 0.375rem 0.75rem; height: calc(2.25rem + 2px);">@Html.Raw(Model.Entity.SpeciesName) </span>
                                                @Html.HiddenFor(x => x.Entity.SpeciesID)
                                                @if (Model.Entity.SpeciesID > 0)
                                                {
                                                    <span class="input-group-btn">
                                                        <a href="@Url.Action("Edit", "Species", new { @entityId = Model.Entity.SpeciesID })" class="btn btn-default btn-flat">
                                                            <i class="fa fa-link"></i>
                                                        </a>
                                                    </span>
                                                }
                                                <span class="input-group-btn">
                                                    <button id="btnOpenSpeciesLookupModal" type="button" class="btn btn-default btn-flat" data-ggtools-action="SpeciesID" data-ggtools-value="SpeciesName" data-toggle="modal" data-target="#modal-species-lookup">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Usage Type</label>
                                            <div class="input-group">
                                                @Html.TextBoxFor(x => x.Entity.AssembledName, new { @class = "form-control", @readonly = "readonly" })
                                                @Html.HiddenFor(x => x.Entity.EconomicUsageTypeID)

                                                @if (Model.Entity.EconomicUsageTypeID > 0)
                                                {
                                                    <span class="input-group-btn">
                                                        <a href="@Url.Action("Edit", "EconomicUsageType", new { @entityId = Model.Entity.EconomicUsageTypeID })" class="btn btn-default btn-flat">
                                                            <i class="fa fa-link"></i>
                                                        </a>
                                                    </span>
                                                }
                                                <span class="input-group-btn">
                                                    <button id="btnOpenEconomicUsageTypeLookupModal"
                                                            type="button"
                                                            class="btn btn-default btn-flat"
                                                            data-ggtools-action="EconomicUsageTypeID"
                                                            data-ggtools-value="AssembledName"
                                                            data-toggle="modal"
                                                            data-target="#modal-economic-usage-type-lookup">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Plant Part</label>
                                            @Html.DropDownListFor(x => x.Entity.PlantPartCode, Model.PlantPartCodes, "NULL", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- BEGIN NOTE FIELD -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>
                                                Note
                                                &nbsp;<a href="" data-toggle="modal" data-target="#modal-note-lookup"><i class="fa fa-search"></i></a>
                                            </label>
                                            <div class="input-group">
                                                @Html.TextAreaFor(x => x.Entity.Note, new { @id = "txtNote", @class = "form-control", @style = "width:100%;" })
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="@Url.Action("Refresh")" class="btn btn-default">Reset</a>
                                @if (Model.Entity.ID > 0)
                                {
                                    <button id="btnDelete" type="button" class="btn btn-danger">
                                        Delete
                                    </button>
                                }
                                <button type="submit" class="btn btn-default float-right">Save</button>
                                <div id="section-folder-confirmation"></div>
                            </div>
                        }
                    </div>
                    @if (Model.Entity.ID > 0)
                    {
                        <div id="section-species-citation-widget">
                            @{Html.RenderAction("RenderWidget", "Citation", new { @entityId = Model.Entity.CitationID });}
                        </div>
                        Html.RenderAction("RenderSpeciesCitationLookupModal", "Citation", new { @tableName = Model.TableName, @speciesId = Model.Entity.SpeciesID });
                    }
                    @{Html.RenderAction("RenderLookupModal", "EconomicUsageType"); }
                    @{Html.RenderAction("RenderLookupModal", "Species"); }
                    @Html.Partial("~/Views/Shared/Modals/_NoteLookup.cshtml")
                    @Html.Partial("~/Views/Taxonomy/Shared/Modals/_Delete.cshtml")
                    @{Html.RenderAction("GetEditModal", "SysFolder", new { sysTableName = Model.TableName }); }
                </div>
            </div>
        </div>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
        <!-- Main Footer -->
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>
</body>
</html>
@Html.Partial("~/Views/Shared/_Scripts.cshtml")

