<li class="nav-header">WORKSPACES</li>
<li class="nav-item">
    <a href="@Url.Action("Index","Taxonomy")" class="nav-link">
        <i class="fas fa-building nav-icon"></i>
        <p>Taxonomy</p>
    </a>
</li>
<li class="nav-item">
    <a href="@Url.Action("Index","Cooperator", new { sysTableName = "cooperator", sysTableTitle = "Cooperator" })" class="nav-link">
        <i class="fas fa-building nav-icon"></i>
        <p>Access Rights Management</p>
    </a>
</li>
<li class="nav-item">
    <a href="@Url.Action("Explorer","WebOrderRequest")" class="nav-link">
        <i class="fas fa-building nav-icon"></i>
        <p>Order Management</p>
    </a>
</li>

<li class="nav-item">
    <a href="@Url.Action("Index","GOBS")" class="nav-link">
        <i class="fas fa-building nav-icon"></i>
        <p>GOBS</p>
    </a>
</li>

@*<li class="nav-item menu-open">
        <a href="#" class="nav-link ">
            <i class="nav-icon fas fa-cogs"></i>
            <p>
                Workspaces
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="@Url.Action("Index","Taxonomy")" class="nav-link">
                    <i class="fas fa-circle nav-icon"></i>
                    <p>Taxonomy</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index","Cooperator", new { sysTableName = "cooperator", sysTableTitle = "Cooperator" })" class="nav-link">
                    <i class="fas fa-circle nav-icon"></i>
                    <p>Access Rights Management</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Explorer","WebOrderRequest")" class="nav-link">
                    <i class="fas fa-circle nav-icon"></i>
                    <p>Order Management</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="@Url.Action("Index","GOBS")" class="nav-link">
                    <i class="fas fa-circle nav-icon"></i>
                    <p>GOBS</p>
                </a>
            </li>
        </ul>
    </li>*@
