<li class="nav-header">GOBS</li>

@{ Html.RenderAction("_List", "SysTable", new { @databaseAreaCode = "GOBS" }); }

@*<li class="nav-item">
    <a href="@Url.Action("Index","EmailTemplate")" class="nav-link">
        <i class="nav-icon fas fa-envelope"></i>
        <p>Dataset</p>
    </a>
</li>
<li class="nav-item">
    <a href="@Url.Action("Explorer","SysGroup")" class="nav-link">
        <i class="nav-icon fas fa-users-cog"></i>
        <p>Dataset Field</p>
    </a>
</li>
<li class="nav-item">
    <a href="@Url.Action("Explorer","CodeValue")" class="nav-link">
        <i class="nav-icon fas fa-table"></i>
        <p>Inventory</p>
    </a>
</li>
<li class="nav-item">
    <a href="@Url.Action("Explorer","CodeValue")" class="nav-link">
        <i class="nav-icon fas fa-table"></i>
        <p>Attachment</p>
    </a>
</li>
<li class="nav-item">
    <a href="@Url.Action("Explorer","CodeValue")" class="nav-link">
        <i class="nav-icon fas fa-table"></i>
        <p>Marker</p>
    </a>
</li>
<li class="nav-item">
    <a href="@Url.Action("Explorer","CodeValue")" class="nav-link">
        <i class="nav-icon fas fa-table"></i>
        <p>Marker Field</p>
    </a>
</li>
<li class="nav-item">
    <a href="@Url.Action("Explorer","CodeValue")" class="nav-link">
        <i class="nav-icon fas fa-table"></i>
        <p>Marker Value</p>
    </a>
</li>
<li class="nav-item">
    <a href="@Url.Action("Explorer","CodeValue")" class="nav-link">
        <i class="nav-icon fas fa-table"></i>
        <p>Report Trait</p>
    </a>
</li>
<li class="nav-item">
    <a href="@Url.Action("Explorer","CodeValue")" class="nav-link">
        <i class="nav-icon fas fa-table"></i>
        <p>Report Value</p>
    </a>
</li>*@
