@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.LiteratureViewModel
<table id="data_table_literature" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Item</th>
            <th>Key</th>
            <th>Standard Abbreviation</th>
            <th>Reference Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>Last Modified</th>
            <th>Modified By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DataCollection != null)
        {
            if (Model.DataCollection.Count() > 0)
            {
                foreach (var result in Model.DataCollection)
                {
        <tr>
            <td>@result.ID</td>
            <td>@result.SysFolderItemMapID</td>
            <td>@result.EntityKey</td>
            <td>@Html.Raw(result.StandardAbbreviation)</td>
            <td>@Html.Raw(result.ReferenceTitle)</td>
            <td>@result.EditorAuthorName</td>
            <td>@result.PublicationYear</td>
            <td>
                @if (result.ModifiedDate > DateTime.MinValue)
                {
                    @result.ModifiedDate.ToShortDateString()
                }
            </td>
            <td>
                @result.ModifiedByCooperatorName
            </td>
            <td>
                <a href="@Url.Action("Edit", "Literature", new { entityId = result.ID })" class="btn btn-default btn-sm float-right row-edit">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
        </tr>
                }
            }
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        Init();
        InitDataTableFolderFormat("data_table_literature");
    });
</script>


