<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Model.PageTitle</title>
    <link rel="stylesheet" href="~/Content/dist/css/fonts.googleapis.com.css">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.css">
    <link rel="stylesheet" href="~/Content/dist/css/icheck-bootstrap.min.css" />

    <!-- Datatables -->
    <link rel="stylesheet" href="~/Content/dist/css/DataTables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/dist/css/DataTables/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/dist/css/DataTables/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/dist/css/bootstrap-switch.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css" />

    <!--jQuery UI-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <style type="text/css">
        .table-col-align-right {
            text-align: right;
        }

        .ggtools-selector input {
            opacity: 1;
            margin-right: 5px;
            margin-left: 3px;
        }

        .ggtools-selector-label {
            margin-left: 25px;
        }

        .ggtools-checkbox {
            margin-top: 40px;
        }

        table.dataTable tbody tr.selected > * {
            box-shadow: inset 0 0 0 9999px rgb(176, 190, 217);
            color: white;
        }

        .margin {
            margin-bottom: 15px;
            margin-top: 15px;
        }

        .social-auth-links {
            margin: 0px;
            padding: 0px;
        }

        .button-label {
            margin-left: .3em;
        }

        .checkbox {
            margin-top: 0px;
        }

        .form-group {
            margin-bottom: 5px;
        }

        .text-danger {
            background-color: #dd4b39;
            color: white;
        }

        .badge {
            padding: 5px;
            font-size: 9.5pt;
        }

        .infraspecific-hybrid {
            margin-top: 25px;
        }

        #section-extended-search-fields {
            margin-top: 15px;
        }

        .section-checkbox {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
    <style>
        /*.btn-group, .btn-group-vertical {
                            position: relative;
                            display: inline-block;
                            vertical-align: middle;
                        }*/

        .ul.wysihtml5-toolbar {
            margin: 0;
            padding: 0;
            display: block;
        }

            .ul.wysihtml5-toolbar > li {
                float: left;
                display: list-item;
                list-style: none;
                margin: 0 5px 10px 0;
            }

        ul.wysihtml5-toolbar > li {
            float: left;
            display: list-item;
            list-style: none;
            margin: 0 5px 10px 0;
        }

        .dropdown, .dropup {
            position: relative;
        }
    </style>

    <!--mark.js-->
    <style>
        mark {
            background: yellow;
            color: black;
        }
    </style>

    <!-- SummerNote -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/adminlte/js")
    @Scripts.Render("~/ggtools/js")
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
   
</head>
