<style>
    .callout-info a:link {
        color: blue;
        text-decoration: underline;
    }

    .callout-info a:hover {
        color: blue;
    }
</style>

@if (Model.Entity.ID > 0)
{
<div class="callout callout-info">
    Created by <a href="@Url.Action("Edit","Cooperator", new { @entityId = Model.Entity.CreatedByCooperatorID })">@Model.Entity.CreatedByCooperatorName</a> on @Model.Entity.CreatedDate.ToShortDateString()
    @if (Model.Entity.ModifiedDate != DateTime.MinValue)
    {
        <span>, modified by <a href="@Url.Action("Edit","Cooperator", new { @entityId = Model.Entity.ModifiedByCooperatorID })">@Model.Entity.ModifiedByCooperatorName</a> on @Model.Entity.ModifiedDate.ToShortDateString()</span>
    }
    @if (Model.Entity.OwnedDate != DateTime.MinValue)
    {
        <span>, owned by <a href="@Url.Action("Edit","Cooperator", new { @entityId = Model.Entity.OwnedByCooperatorID })">@Model.Entity.OwnedByCooperatorName</a> on @Model.Entity.OwnedDate.ToShortDateString()</span>
    }
</div>
}
