@model USDA.ARS.GRIN.GGTools.ViewModelLayer.WebOrderRequestViewModel
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column mt-2" data-widget="treeview" role="menu" data-accordion="false">
        <!-- TODO: Refactor this element into a partial shared across sidebars-->
        <li class="nav-item">
            <a href="@Url.Action("Explorer","WebOrderRequest")" class="nav-link">
                <i class="fas fa-home nav-icon"></i>
                <p>Home</p>
            </a>
        </li>

        <li class="nav-header">MANAGE DATA</li>
        <li class="nav-item">
            <a href="@Url.Action("Search","WebOrderRequest")" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>Web Order Requests</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","OrderRequest")" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>Order Requests</p>
            </a>
        </li>
        <li class="nav-header">ADMIN</li>
        <li class="nav-item">
            <a href="@Url.Action("Index","EmailTemplate")" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>Email Templates</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","CodeValue")" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>Code Values</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","Error")" class="nav-link">
                <i class="nav-icon fas fa-bug"></i>
                <p>Error Logs</p>
            </a>
        </li>
    </ul>
</nav>
