<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar nav-compact nav-flat nav-child-indent flex-column text-sm" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="@Url.Action("Index","HOme")" class="nav-link">
                <i class="nav-icon fas fa-home"></i>
                <p>Home</p>
            </a>
        </li>
        @Html.Partial("~/Views/Shared/Sidebars/Components/_MenuWorkspaces.cshtml")
        @Html.Partial("~/Views/Shared/Sidebars/Components/_MenuGOBS.cshtml")
        <li class="nav-header">SYSADMIN</li>
        <li class="nav-item">
            <a href="@Url.Action("Index","EmailTemplate")" class="nav-link">
                <i class="nav-icon fas fa-envelope"></i>
                <p>Email Templates</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Explorer","SysGroup")" class="nav-link">
                <i class="nav-icon fas fa-users-cog"></i>
                <p>Sys Groups</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Explorer","CodeValue")" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>Code Values</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","Error")" class="nav-link">
                <i class="nav-icon fas fa-bug"></i>
                <p>Error Logs</p>
            </a>
        </li>
    </ul>
</nav>