@model USDA.ARS.GRIN.GGTools.ViewModelLayer.WebOrderRequestViewModel
<table id="table_web_order_requests" class="display responsive" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>
               Requestor 
            </th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var webOrderRequest in Model.DataCollection)
        {
            string statusCssClass = String.Empty;
            switch (webOrderRequest.StatusCode.ToUpper())
            {
                case "SUBMITTED":
                    statusCssClass = "badge bg-indigo";
                    break;
                case "ACCEPTED":
                    statusCssClass = "badge bg-success";
                    break;
                case "CANCELED":
                    statusCssClass = "badge bg-warning";
                    break;
                case "NRR_FLAG":
                    statusCssClass = "badge bg-danger";
                    break;
            }
            <tr>
                <td>@webOrderRequest.ID</td>
                <td><strong>@webOrderRequest.ID</strong></td>
                <td>
                    @webOrderRequest.WebCooperatorFullName
                    <br>
                    <small>
                        @webOrderRequest.WebCooperatorOrganization
                    </small>
                </td>
                <td>
                    @webOrderRequest.WebCooperatorEmail
                </td>
            </tr>
        }
    </tbody>
</table>

@*@foreach (var webOrderRequest in Model.DataCollection)
            {

                var cssClass = "";
                switch (webOrderRequest.StatusCode)
                {
                    case "NRR_FLAG":
                        cssClass = "bg-danger";
                        break;
                    case "ACCEPTED":
                        cssClass = "bg-success";
                        break;
                    default:
                        cssClass = "bg-info";
                        break;
                }
    <div class="info-box">
        <span class="info-box-icon @cssClass"><i class="far fa-address-book"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">@webOrderRequest.WebCooperatorFullName</span>
            <span class="info-box-number">
                @webOrderRequest.WebCooperatorOrganization
                <button class="btn btn-default btn-sm float-right">>></button>
            </span>
        </div>
    </div>
}*@

